# Do not git commit...

# local build:
node_modules
npm-debug.log
.serverless
.terraform
.terraform.tfstate*
terraform.tfstate
terraform.tfstate.backup

# code coverage:
.nyc_output

# editors:
.idea/*
.vscode/*
